In [266]:
#Exercício 09
#Use 3 dataframes criados na aula anterior, mostre apenas o filme/série/anime com maior pontuação.
#Leia o arquivo do dataset em json.
#Selecione apenas as 3 primeiras colunas do dataset
#Selecione apenas as 10 primeiras linhas do dataset
#Utilize uma função para identificar o valor médio da primeira coluna
#Filtre o dataframe pegando apenas as linhas com valores maiores que essa média.
#Escolha uma coluna com valores textuais e filtre o dataframe pelo 1o valor
#Escolha uma coluna, como ano, titulo, etc e ordene seu dataframe tanto de forma crescente quanto decrescente

In [267]:
import pandas as pd

In [268]:
filmes = pd.read_json('../aula_03/filmes.json')
series = pd.read_json('../aula_03/series.json')
animes = pd.read_json('../aula_03/animes.json')

In [269]:
filmes.sort_values(by='Notas', ascending=False).head(1)

          Nomes  Lançamento  Notas
0  Interestelar        2014     10

In [270]:
series.sort_values(by='Notas', ascending=False).head(1)

          Nomes  Lançamento  Notas
0  Breaking Bad        2008     10

In [271]:
animes.sort_values(by='Notas', ascending=False).head(1)

         Nomes  Lançamento  Notas
0  Dragon Ball        1986     10

In [272]:
filmes.iloc[:3]

          Nomes  Lançamento  Notas
0  Interestelar        2014     10
1    The Batman        2022     10
2      Avatar 2        2022      9

In [273]:
filmes2 = {
    'Nomes' : ['Oppenheimer', 'Kung Fu Panda', 'Sonic', 'Maze Runner', 'Blade Runner 2049'],
    'Lançamento' : [2023, 2008, 2020, 2014, 2017],
    'Notas' : [10, 7, 8, 10, 9]
}

series2 = {
    'Nomes': ['The Office', 'Sherlock', 'Friends', 'The Witcher', 'Black Mirror'],
    'Lançamento': [2005, 2010, 1994, 2019, 2011],
    'Notas': [8, 9, 8, 8, 8]
}

animes2 = {
    'Nomes': ['Fullmetal Alchemist', 'Your Name', 'Tokyo Ghoul', 'Koe No Katachi', 'Hunter x Hunter'],
    'Lançamento': [2003, 2016, 2014, 2017, 2011],
    'Notas': [9, 10, 7, 10, 10]
}

In [274]:
filmes2 = pd.DataFrame(filmes2)
series2 = pd.DataFrame(series2)
animes2 = pd.DataFrame(animes2)

In [275]:
concat_geral = pd.concat([filmes, series, animes, filmes2, series2, animes2], axis=0)
concat_geral

                          Nomes  Lançamento  Notas
0                  Interestelar        2014     10
1                    The Batman        2022     10
2                      Avatar 2        2022      9
3           Um lugar silencioso        2024     10
4                        Arcane        2021      9
0                  Breaking Bad        2008     10
1                Peaky Blinders        2013      9
2           The Midnight Gospel        2020     10
3               Stranger Things        2016     10
4  The End Of The Fucking World        2017     10
0                   Dragon Ball        1986     10
1                     One Piece        1997     10
2                        Naruto        2002     10
3                Jujutsu Kaisen        2018     10
4                Mob Psycho 100        2016     10
0                   Oppenheimer        2023     10
1                 Kung Fu Panda        2008      7
2                         Sonic        2020      8
3                   Maze Runner        2014     10
4             Blade Runner 2049        2017      9
0                    The Office        2005      8
1                      Sherlock        2010      9
2                       Friends        1994      8
3                   The Witcher        2019      8
4                  Black Mirror        2011      8
0           Fullmetal Alchemist        2003      9
1                     Your Name        2016     10
2                   Tokyo Ghoul        2014      7
3                Koe No Katachi        2017     10
4               Hunter x Hunter        2011     10

In [276]:
concat_geral.iloc[:10]

                          Nomes  Lançamento  Notas
0                  Interestelar        2014     10
1                    The Batman        2022     10
2                      Avatar 2        2022      9
3           Um lugar silencioso        2024     10
4                        Arcane        2021      9
0                  Breaking Bad        2008     10
1                Peaky Blinders        2013      9
2           The Midnight Gospel        2020     10
3               Stranger Things        2016     10
4  The End Of The Fucking World        2017     10

In [277]:
media_coluna = concat_geral['Notas'].mean()
print(f'O valor médio da primeira coluna é: {round(media_coluna, 1)}')

O valor médio da primeira coluna é: 9.3

In [278]:
concat_geral[concat_geral['Notas'] > media_coluna]

                          Nomes  Lançamento  Notas
0                  Interestelar        2014     10
1                    The Batman        2022     10
3           Um lugar silencioso        2024     10
0                  Breaking Bad        2008     10
2           The Midnight Gospel        2020     10
3               Stranger Things        2016     10
4  The End Of The Fucking World        2017     10
0                   Dragon Ball        1986     10
1                     One Piece        1997     10
2                        Naruto        2002     10
3                Jujutsu Kaisen        2018     10
4                Mob Psycho 100        2016     10
0                   Oppenheimer        2023     10
3                   Maze Runner        2014     10
1                     Your Name        2016     10
3                Koe No Katachi        2017     10
4               Hunter x Hunter        2011     10

In [279]:
concat_geral['Nomes'].iloc[0]

'Interestelar'

In [281]:
df_ordenado = concat_geral.sort_values(by=['Lançamento'], ascending=False)
df_ordenado

                          Nomes  Lançamento  Notas
3           Um lugar silencioso        2024     10
0                   Oppenheimer        2023     10
2                      Avatar 2        2022      9
1                    The Batman        2022     10
4                        Arcane        2021      9
2           The Midnight Gospel        2020     10
2                         Sonic        2020      8
3                   The Witcher        2019      8
3                Jujutsu Kaisen        2018     10
4  The End Of The Fucking World        2017     10
4             Blade Runner 2049        2017      9
3                Koe No Katachi        2017     10
1                     Your Name        2016     10
3               Stranger Things        2016     10
4                Mob Psycho 100        2016     10
0                  Interestelar        2014     10
2                   Tokyo Ghoul        2014      7
3                   Maze Runner        2014     10
1                Peaky Blinders        2013      9
4                  Black Mirror        2011      8
4               Hunter x Hunter        2011     10
1                      Sherlock        2010      9
1                 Kung Fu Panda        2008      7
0                  Breaking Bad        2008     10
0                    The Office        2005      8
0           Fullmetal Alchemist        2003      9
2                        Naruto        2002     10
1                     One Piece        1997     10
2                       Friends        1994      8
0                   Dragon Ball        1986     10

In [282]:
df_ordenado = concat_geral.sort_values(by=['Lançamento'], ascending=True)
df_ordenado

                          Nomes  Lançamento  Notas
0                   Dragon Ball        1986     10
2                       Friends        1994      8
1                     One Piece        1997     10
2                        Naruto        2002     10
0           Fullmetal Alchemist        2003      9
0                    The Office        2005      8
1                 Kung Fu Panda        2008      7
0                  Breaking Bad        2008     10
1                      Sherlock        2010      9
4                  Black Mirror        2011      8
4               Hunter x Hunter        2011     10
1                Peaky Blinders        2013      9
3                   Maze Runner        2014     10
0                  Interestelar        2014     10
2                   Tokyo Ghoul        2014      7
3               Stranger Things        2016     10
4                Mob Psycho 100        2016     10
1                     Your Name        2016     10
4             Blade Runner 2049        2017      9
3                Koe No Katachi        2017     10
4  The End Of The Fucking World        2017     10
3                Jujutsu Kaisen        2018     10
3                   The Witcher        2019      8
2           The Midnight Gospel        2020     10
2                         Sonic        2020      8
4                        Arcane        2021      9
2                      Avatar 2        2022      9
1                    The Batman        2022     10
0                   Oppenheimer        2023     10
3           Um lugar silencioso        2024     10